.gameScreen{
    background: rgb(7, 2, 29);
    text-align: center;
    height:100%;
    color: black;
    overflow: auto;

}

#inner-gameScreen{
    display: inline-block;
    width: 290px;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}


.gback-button{
    margin-top:1px;
}
.gback-button img{
    width:30px;
    height:30px;
    background-color: white;
    border-radius: 50%;
    margin:0;
    padding: 0;
}

.white-screen{
    margin-top:180px;
    width: 300px;
    height:300px;
    display: inline-block;
    text-align: center;
    border:2px solid black;
    background-color: white;
    border-radius: 10px;
}

.white-screen .inner-counter{
    margin-top:30px;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.inner-counter #tick{
    height:30px;
    width:30px;
    margin-top:-30px;
}

.inner-counter p{
    margin-top:-60px;
}
.block{
    width:280px;
    display: inline-block;
}

.game-main .block .block-topper{
    width:280px;
    font-weight: bold;
    height:50px;
}

.que-num{
    display: inline-block;
    margin-left:0px;
    width: max-content;
}
.question-timer{
    float: right;
    margin-left:50px;
    text-align: center;
    width:80px;
    padding:2px;
    border-radius:30px;
    background-color: yellow;
    color: blue;
}

.question{
    margin-top:5px;
    font-size: large;
    font-weight: 800;
}

.questionImage{
    margin-top:-5px;
    border-radius: 10px;
    background-color: white;
}
.questionImage img{
    border: thin;
    width:100px;
    height:100px;
}

.answer{
    margin-top:5px;
}

.inner-answer-div{
    display: inline-block;
    margin-left:10px;
    margin-top:5px;
    font-weight: bold;
    text-align: center;
    width:40px;
    height:40px;
    border:2px solid palevioletred;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.sanswer{
    height:max-content;
    width:280px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin-top:30px;
    background: white;
    border-radius: 10px;
    padding: 5px;
}

.inner-sanswer-div{
    margin-top:10px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left:10px;
    width:40px;
    height:40px;
    border:2px solid palevioletred;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.sanswer button{
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius:5px;
    margin-top: 10px;
    outline: none;
    border: 1px solid white;
    background-color: rgb(241, 7, 175);
}

#quit-game{
    background-color: white;
    margin-top:10px;
    outline: none;
    border: 0;
    font-weight: bold;
    color: rgb(241, 7, 175);
}

#confirm-quit{
    display:none;
    font-weight: bold;
    color:rgb(241, 7, 175) ;
    background-color: white;
    border-radius:10px;
    position: absolute;
    margin-top:60px;
    margin-left:5px;
    width:270px;
    height:250px;
    padding:20px;
    box-shadow: 2px 2px 2px 2px rgb(245, 47, 212)
}

#confirm-quit img{
    width:150px;
}

#confirm-quit button{
    display: inline-block;
    margin-left: 2px;
    background-color:  rgb(241, 7, 175);
    margin-top:10px;
    border:1px solid white;
    font-weight: bold;
    color: white;
}


@media screen and (max-width: 400px) {
    .white-screen{
        width: 100%;
    }
}