.home{
    text-align: center;
}

.home form{
    display: inline-block;
    border: 2px solid rgb(151, 3, 250);
    border-radius: 5px;
    padding:10px;
}

.react-datetime-picker{
   margin-left: 5px;
   float: right;   
}

.question-form{
    width:250px;
    margin-left:20px;
}

#success-button{
    font-weight: bold;
    color: white;
}
.question-form input{
    height:30px;
}

.submit{
    text-align: center;
}