.preview{
   text-align: center;
    background: rgb(7, 2, 29);
    color: white;
}

.preview form{
    display: inline-block;
    border: 2px solid rgb(151, 3, 250);
    padding: 10px;
    border-radius: 10px;
}

.q-list{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.q-list::-webkit-scrollbar{
    display: none;
}
.q-list input{
    margin-top:2px;
    width:220px;
    margin-left: 2px;
}

.q-list ul li{
    margin-top:10px;
}